<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign In and Sign Up Form</title>
  <link rel="stylesheet"  href="../style.css">
  <script src="https://kit.fontawesome.com/796f2a4433.js" crossorigin="anonymous"></script>

</head>
<body>
<div class="container">
  <div class="form-box">
    <h1>Sign Up</h1>
    <form>
      <div class="input-group">
        <div class="input-field">
          <i class="fa-solid fa-user-astronaut"></i>
          <input type="text" placeholder="Name">
        </div>

        <div class="input-field">
          <i class="fa-solid fa-envelope"></i>
          <input type="email" placeholder="Email">
        </div>

        <div class="input-field">
          <i class="fa-solid fa-lock"></i>
          <input type="password" placeholder="Password">
        </div>
        <p>Forgot password <a href="#">Click here</a></p>
      </div>
      <div>
        <div class="btn-field">
          <button id="sign-up-btn" type="button"> Sign up </button>
          <button id="sign-in-btn" type="button"> Sign in </button>
        </div>
      </div>
    </form>
  </div>
</div>
<script src="sign-in.js"></script>
</body>
</html>