<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In and Sign Up Form</title>
    <link rel="stylesheet"  href="../style.css">
</head>
<body>
<div class="container">
    <div class="form-box">
        <h1>Forgot Password</h1>
        <h2>Not my problem</h2>
        <br>
        <h2 class="forgot">Just sign up again :)</h2>

                <div class="btn-field">
                    <button onclick="window.location.href='http://localhost:63342/GamePlayer/src/main/resources/templates/LoginPage/SignUp/sign-up.html?_ijt=lqae5glomtpmnvi830lujb6g67&_ij_reload=RELOAD_ON_SAVE'" id="sign-up-btn" type="button"> Sign up </button>
                </div>
    </div>
</div>
<script src="sign-in.js"></script>
</body>
</html>