<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In and Sign Up Form</title>
    <link th:href="@{LoginPageStyle.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
    <div class="form-box">
        <h1>Incorrect login data</h1>
        <h2>Something is wrong with login or password </h2>
        <br>
        <h2 class="forgot">Just sign up again :)</h2>

        <div class="btn-field">
            <button th:href="@{/login}" id="sign-in-btn" type="button"> Sign in </button>
        </div>
    </div>
</div>
<script src="sign-in.js"></script>
</body>
</html>