<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>GamePLayer</title>
</head>
<body>
    <div class="leaderboard">
        <h2>
            Leaderboard
        </h2>
        <div class="player_info">
            <span>nickname</span>
            <span>record</span>
        </div>
        <div class="player_info">
            <span>doodlehateu</span>
            <span>528</span>
        </div>
    </div>
    <div class="menu_container">
        <h1>Our Game</h1>
        <button>PLAY</button>
    </div>
</body>
</html>