<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{style.css}" rel="stylesheet" />
    <title>GamePLayer</title>
    <script>
        var unityInstance = UnityLoader.instantiate(("unityContainer", "Build/_Build.json", {onProgress: UnityProgress}));
    </script>
</head>
<body>
    <div class="leaderboard">
        <h2>
            Leaderboard
        </h2>
        <table>
            <tr th:each="userScores : ${userScores}">
                <td th:text="${userScores.id + '.' + ' ' + userScores.nickname}">Player</td>
                <td th:text="${userScores.score}"></td>
            </tr>
        </table>
    </div>
    <div class="menu_container">
        <h1>Our Game</h1>
        <iframe th:src="@{/game}" frameborder="0" width="1000" height="700"></iframe>
    </div>
</body>
</html>
