<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>GamePLayer</title>
</head>
<body>
    <div class="leaderboard">
        <h2>
            Leaderboard
        </h2>
        <table>
            <tr>
                <td>1. doodlehateu</td>
                <td>6666</td>
            </tr>
            <tr>
                <td>2. aboba345</td>
                <td>541</td>
            </tr>
            <tr>
                <td>3. aboba345</td>
                <td>539</td>
            </tr>
            <tr>
                <td>4. aboba345</td>
                <td>531</td>
            </tr>
            <tr>
                <td>5. doodlehateu</td>
                <td>528</td>
            </tr>
            <tr>
                <td>6. doodlehateu</td>
                <td>528</td>
            </tr>
            <tr>
                <td>7. doodlehateu</td>
                <td>528</td>
            </tr>
            <tr>
                <td>8. doodlehateu</td>
                <td>528</td>
            </tr>
            <tr>
                <td>9. doodlehateu</td>
                <td>528</td>
            </tr>
            <tr>
                <td>10. doodlehateu</td>
                <td>528</td>
            </tr>
            <tr>
                <td>11. doodlehateu</td>
                <td>528</td>
            </tr>
            <tr>
                <td>12. doodlehateu</td>
                <td>528</td>
            </tr>
            <tr>
                <td>13. doodlehateu</td>
                <td>528</td>
            </tr>
            <tr>
                <td>14. doodlehateu</td>
                <td>528</td>
            </tr>
            <tr>
                <td>15. doodlehateu</td>
                <td>528</td>
            </tr>
        </table>
    </div>
    <div class="menu_container">
        <h1>Our Game</h1>
        <button>PLAY</button>
    </div>
</body>
</html>